.container .nav {
    flex-basis: 15%;
    background-color: #E1E2E1;
    padding: 10px 30px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 100;
}

.container .nav button {
    color: #212529;
    box-shadow: 1px 1px 7px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.container .tab-content {
    flex-basis: 85%;
    background-color: #E1E2E1;
    padding: 10px 20px;
    /* position: relative;
    z-index: 10; */
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    /* max-width: 100%; */
}

.tab-content .form-control {
    display: inline;
    width: auto;
}

.homework-detail {
    /* position: relative;
    z-index: 20; */
    background-color: #f5f5f6;
    padding: 10px 40px;
    box-shadow: -6px -6px 7px 0 rgba(255, 255, 255, 0.5), 4px 4px 7px rgba(0, 0, 0, 0.1);
    border: 0.5px solid rgba(70, 59, 59, 0.2);
    border-radius: 10px;
}

.container .tab-content form input {
    background-color: transparent;
    box-shadow: inset 2px 2px 6px 0 rgb(0 0 0 / 10%);
}

.container .tab-content form input::placeholder {
    color: #212529;
    opacity: 0.6;
}

.tab-content button {
    padding: 10px 40px;
    border-radius: 50px;
}

.container .tab-content .tab-pane>p {
    background-color: rgba(255, 193, 7, 0.5);
    padding: 10px 10px;
}

.custom__select {
    border: none;
    outline: none;
    padding: 10px 100px 10px 10px;
    background-color: transparent;
    color: rgba(33, 37, 41, 1);
    box-shadow: inset 2px 2px 6px 0 rgb(0 0 0 / 10%);
}